<div class="row">
    <div class="col-md-4 mb-2" *ngFor="let user of users">
        <div class="card">
            <h5 class="card-header">{{ user.id}} </h5>
            <div class="card-body">
              <h5 class="card-title">Email: {{ user.email }}</h5>
              <h5 class="card-title">Nombre: {{ user.fullName }}</h5>
              
              <div class="card-footer">
                <button class="btn btn-success linea espacio" [routerLink]="[ '/users/edit/', user.id]">Editar</button>
                <button class="btn btn-danger linea" [routerLink]="[ '/users/delete/', user.id]">Borrar</button>
              </div>
            </div>
          </div>
    </div>

</div>
